<!DOCTYPE html>
<html>
<head>
    <title>KakRaboti - @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/craftyslide.css" rel="stylesheet" />
    <link href="~/Content/jquery-te-1.4.0.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-te-1.4.0.min.js"></script>
    <script src="~/Scripts/jquery-1.11.0.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
</head>
<body>
    <div id="body">
        @Html.Partial("_TopMenuPartial", KakRaboti.Helpers.Helpers.GetCategories())
        <header>
            <a href="/"><div id="logo"></div></a>
        </header>
        <div id="main-content">
            @RenderBody()
        </div>
        <footer>
            © KakRaboti 2014
        </footer>
    </div>
</body>
</html>