@model IEnumerable<KakRaboti.KakRabotiService.Category>
@using KakRaboti.Models
@using Microsoft.AspNet.Identity

<div id="top-menu">
    <div id="categories-list-header">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Name, "Category", "Category", new { id = item.ID }, new { @class = "" })
                </li>
            }
        </ul>
    </div>
    <div id="login-partial">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
            {
                @Html.AntiForgeryToken()
                <span style="font-size: 12px;">Здравей @User.Identity.GetUserName() / </span>
                if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                {
                    <span id="admin-panel-link"> <a href="/Admin/Index">Администраторски панел</a> / </span>
                }
                else
                {
                    <span id="admin-panel-link"> <a href="/Article/Create">Нова статия</a> / </span>
                }
                <span id="admin-panel-link"> <a href="/Account/Manage">Потребителски панел</a> / </span>
                <a href="javascript:document.getElementById('logoutForm').submit()">Изход</a>
            }
        }
        else
        {
            @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "" }) <text>/</text>
            @Html.ActionLink("Вход", "Login", "Account", routeValues: new { returnUrl = Request.Url.LocalPath }, htmlAttributes: new { id = "" })
        }
    </div>
</div>
